.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: rgb(8, 24, 23);
}
.calendar {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 2em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 0.5em;
  background-image: url("https://drive.google.com/uc?id=1rlo-zOjQlDFQErGFijLFHaXFWVBB8IE3");
}

.door {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 10vw;
  background-color: rgba(8, 20, 16, 0.6);
  border: 1px solid #ccc;
  border-radius: 0.5em;
  margin-bottom: 1em;
  margin-right: 1em;
}

.door p {
  font-size: 2em;
  color: #f2f2f2;
}

.door:hover {
  background-color: rgba(18, 43, 54, 0.9);
}

.dooropen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 10vw;
  background-color: rgb(8, 24, 23, 0.8);
  border: 1px solid #ccc;
  border-radius: 0.5em;
  margin-bottom: 1em;
  margin-right: 1em;
  text-align: center;
}

.dooropen p {
  color: #f2f2f2;
  width: 80%;
}

.resetbutton {
  margin-top: 5em;
  background-color: rgba(18, 43, 54, 0.9);
  width: 100%;
  height: 3em;
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  font-size: 1em;
  font-weight: bold;
  color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.resetbutton:hover {
  background-color: rgba(35, 71, 87, 0.9);
}
.resetbutton:active {
  background-color: rgba(71, 120, 141, 0.9);
}
.countdown-timer {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: white; /* Set the text color to white */
}

.countdown-timer p {
  font-size: 16px;
  font-weight: bold;
}

.countdown-timer div {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
}
