.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: rgb(5, 41, 26);
}
.calendar {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 2em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 0.5em;
  background-image: url("https://drive.google.com/uc?id=1rlo-zOjQlDFQErGFijLFHaXFWVBB8IE3");
}

.door {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 10vw;
  background-color: rgba(8, 20, 16, 0.6);
  border: 1px solid #ccc;
  border-radius: 0.5em;
  margin-bottom: 1em;
  margin-right: 1em;
}

.door p {
  font-size: 2em;
  color: #f2f2f2;
}

.door:hover {
  background-color: rgba(116, 22, 160, 0.9);
}

.dooropen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 10vw;
  background-color: rgba(228, 32, 32, 0.6);
  border: 1px solid #ccc;
  border-radius: 0.5em;
  margin-bottom: 1em;
  margin-right: 1em;
  text-align: center;
}

.dooropen p {
  color: #f2f2f2;
  width: 80%;
}

.resetbutton {
  margin-top: 5em;
  background-color: rgba(18, 43, 54, 0.9);
  width: 100%;
  height: 3em;
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  font-size: 1em;
  font-weight: bold;
  color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.resetbutton:hover {
  background-color: rgba(35, 71, 87, 0.9);
}
.resetbutton:active {
  background-color: rgba(71, 120, 141, 0.9);
}
.countdown-timer {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: white; /* Set the text color to white */
}

.countdown-timer p {
  font-size: 60px;
  font-weight: bold;
}

.countdown-time  {
  font-size: 24px;
  font-weight: bold;
  color: rgb(197, 49, 49);
}

.countdown-timer div {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
}
.password-page {
  text-align: center; /* Center the text within the container */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center elements horizontally */
  justify-content: center; /* Center elements vertically */
  margin-top: 5m; /* Adjust the margin-top to move it down the page */
  height: 100vh; /* Center vertically within the viewport */
}
.timer-image {
  position: absolute;
  top: 0;
  right: 200px; /* Adjust this value to move it to the left */
  max-width: 100px; /* Adjust the width as needed */
  max-height: 100px; /* Adjust the height as needed */
}
.timer-image2 {
  position: absolute;
  top: 0;
  right: 1600px; /* Adjust this value to move it to the left */
  max-width: 100px; /* Adjust the width as needed */
  max-height: 100px; /* Adjust the height as needed */
}
.leaf-image {
  position: absolute;
  top: 0;
  right: 900px; /* Adjust this value to move it to the left */
  max-width: 100px; /* Adjust the width as needed */
  max-height: 100px; /* Adjust the height as needed */
  animation: spin 20s linear infinite; /* Adjust the animation duration as needed */
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}