/* UnderConstruction.css */
.under-construction-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: repeating-linear-gradient(
    -45deg,
    #990000,
    #990000 40px,
    #cc9900 40px,
    #cc9900 80px
  );
}

.construction-sign {
  text-align: center;
  padding: 20px;
  background-color: #333; /* Darker background color */
  color: #fff; /* Text color */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

.gear-wheel {
  margin-top: 20px;
  animation: spin 9s linear infinite; /* Spinning animation */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.countdown {
  margin-top: 20px;
  color: #fff;
}

.countdown-timer {
  display: flex;
  justify-content: space-around;
}

.countdown-timer div {
  text-align: center;
}

.countdown-timer span {
  font-size: 24px;
  font-weight: bold;
  margin-right: 5px;
}
